---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="ブログ一覧">
  <div
    class="flex items-center justify-center fixed top-0 left-0 w-full h-full -z-[1]"
  >
    <h1 class="text-[70px] font-bold">404 Not Found</h1>
  </div>
</Layout>
